#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
  display: flex;
  justify-content: space-between;
}

.navbar.navbar-expand-lg.bg-body-tertiary .navbar-nav {
  float: none;
}

.navbar.navbar-expand-lg.bg-body-tertiary .navbar-nav li {
  margin: 0;
}

.workout-call-to-action {
  display: flex;
  align-items: center;
}

.bg-faded-blue {
  background-color: rgba(0, 123, 255, 0.3); /* Adjust the opacity as needed */
}

.border {
  padding: 10px;
  background-color: #cce5ff; /* Light blue background color */
  border-radius: 5px;
  text-align: justify; /* Justify text alignment */
}

.text-dark-grey {
  color: #343a40; /* Dark grey text color */
}

.dropdown {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 200px;
  list-style-type: none;
  padding: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}
